body{
	background-color: #02010a;
	font-family: 'Dancing Script', cursive;
}

header {
	padding: 10px;
	margin-bottom: 1vh;
	border-radius: 10px 10px 0px 0px;
	background-color: #5b7989;
	margin: auto;
}

header h1 {
	padding-left: 1%;
	font-size: 1.5em;
	text-shadow: 2px 2px 2px #02010a;
	font-family: 'Dancing Script', cursiva;
	background-color: #5b7989;
}

#menu-principal{
	text-align: right;
}

#imagen1 img{
	width: 50%;
}

.contenedor {
	text-align: center;
	background: #82c3a6;
	border-radius: 1px;
	margin: auto;

}

.contenedor2 {
	display: flex;
	flex-direction: row;
	background: #d5c75f;
	margin: auto;

}

.contenedor2 > figure {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;
}

#imagen2 img{
	width: 50%;
	border: 1px;
 	-webkit-transition: all 0.5s ease-out;
 	-moz-transition: all 0.5s ease;
 	-ms-transition: all 0.5s ease;
}

#imagen2 img:hover{
	border: 2px;
	-webkit-transform: rotate(10deg);
 	-moz-transform: rotate(10deg);
 	-ms-transform: rotate(10deg);
 	transform: rotate(10deg);
 	-webkit-box-shadow: 2px 2px 5px #82c3a6 ;
  	-moz-box-shadow: 2px 2px 5px #82c3a6 ;
  	filter: shadow(color=#82c3a6, direction=135, strength=2);
}

@keyframes imagen3-animacion {
	0% {
		position: relative;
		top: 0px
	}
	50% {
		position: relative;
		left: 20px
	}
	100% {
		position: relative;
		top: -5px;
	}
}

#imagen3 img{
	width: 50%;
}

#imagen3 img:hover{
	animation-name: imagen3-animacion;
	animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

footer{
	border-radius: 0px 0px 10px 10px;
	background-color: #C6d5c5;
	margin: auto;
}

.pie {
	margin: 0;
  	padding: 0;
  	width: 100%;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
}

p{
	text-align: center;
}

h2{
	text-align: center;
}

.c1 {
	width: 25%;
}
.c2 {
	width: 25%;
}
.c3 {
	width: 25%;
}

.c4 {
	width: 25%;
}

@media only screen and (max-width: 480px){
	.contenedor2{
		display: flex;
		flex-direction: column;
		width: 100%
	}
	.c1 {
		width: 100%;
		order: 1;
	}

	.c2 {
		width: 100%;
		order: 2;
	}
	.c3 {
		width: 100%;
		order: 3;
	}
	.c4 {
		width: 100%;
		order: 4;
	}

	
}

@media (max-width: 900px){
	.galeria{
		display: flex;
		flex-direction: column;
		width: 100%
	}
	#menu-principal{
	text-align: center;
	}
}




footer {
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	margin: auto;
}


img{
	border: 2px solid white;
	width: 200px;
}



#img1 {
	-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);	
}

#img2 {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
}

#img3 {
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}

#img4 {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
}

#imag5{

}
#img6 {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
}



.foto{
  width: 33.3%;
}
.galeria{
  background-color: #82c3a6;
  width: 100%;
  box-sizing: border-box;
	float:left;
}

article
{
	box-sizing: border-box;
	float:left;
	height: 50%;
	padding: 2%;
	text-align: center;
}
article.foto:nth-child(even){
  -webkit-filter: grayscale(100%);
}
article.foto:nth-child(1){
  -webkit-filter: blur(10px);
}
article.foto:nth-child(3){
  -webkit-filter: sepia(90%);
}
